@media (width>=1920px) {
    html {
        font-size: 25px;
    }
}
@media (width>=1440px) and (width<1920px) {
    html {
        font-size: 20px;
    }
}
@media (width>=1024px) and (width<1440px) {
    html {
        font-size: 18px;
    }
}
@media (width<1024px) {
    .slideshow-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        .wall {
            display: none;
        }
    }
    .our-parteners {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        .wall {
            display: none;
        } 
    }
}
@media (width<800px) {
    .hamburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        min-width: 100%;
        height: max-content;
        padding:.5rem 0;
        background: tomato;
        transition: 0.3s;
    }
        .nav-menu.active{
        left: 0; 
    }
}
@media (width>=768px) and (width<1024px) {
    html {
        font-size: 16px;
    }
}
@media (width<768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2rem;
    }
}
@media (width<=480px) and (width<768px) {
    html {
        font-size: 14px;
    }
}
@media (width<=320px) and (width<480px) {
    html {
        font-size: 12px;
    }
}
@media (width<320px) {
    html {
        font-size: 10px;
    }
}