html {

}
:root{
    --primary-color: #ffff;
    --second-color: #0000;
    --third-color: #0a0a2d;
    --fourth-color: #d8d8ee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 1.9rem; 
    scroll-behavior:smooth;
}
body {
 background-color: var(--fourth-color);
 overflow-x: hidden;
}
img {
  width:100%;
  height:100%;
  object-fit: cover;
}
a{
  text-decoration: none;
}
.page-header{
    display: none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 5;
}
.header nav {
    width: 100%;
    background:  var( --primary-color);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #0a0a2d 1px 1px 5px 1px;
    position: relative;
}
.logo{
    height: 98%;
    background: none !important;
}
.logo img{
    width: 70px;
    align-self: center;
}
.header .nav-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: black;
}
.nav-menu a{
    padding: 8px 12px;
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    transition: 0.9s;
    border-radius: 30px;
    /*background: transparent; 
    color: var(--second-color); 
    This color variable is not working*/
    color: black; 
}
.nav-menu a:hover{
    background: #0a0a2d;
    color: #d8d8ee; 
}
 i {
  font-size: 25px;
  display: none !important;
}
/*All section titles*/
.section-title {
  font-size: 3rem;
}
/*Other normal title*/
.title {
  font-weight: 600;
}
/*All the paragraphs*/
p {
  font-size: 1.2rem;
  color: rgb(82, 82, 82);
}
/*All titles and paragraphs*/
h1,p {
  padding: 1rem;
}
/*All small circles below slides*/
.small-circles {
  display: flex;
  justify-content: space-evenly;
  .circle {
    background-color: rgb(168, 168, 168);
    border-radius: 50%;
    width:.5rem !important;
    height:.5rem !important;
  }
}
/*Section Slideshow container*/
.slideshow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*The section walls*/
  .wall {
    position: relative;
    z-index: 1;
    width:10rem;
    height:25rem;
    background-color: white;
  }
      /*all of the cards and the small circles (displaying at the bottom), in the div called mySlides*/
  .mySlides {
    display: flex;
    flex-direction: column;
    gap:2rem;
    .card  {
      background-color: var(--primary-color);
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      transition: box-shadow 300ms,transform 300ms;
      width:30rem;
      padding:1rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap:1rem;
      .image-container {
        width:100%;
        height:15rem; 
        img {
          border-radius: 1rem;
        }
      }
    }
  .card:hover {
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,50%);
    transform: scale(1.02);
  }
  }
} 
/*What We Do Section*/
.what-we-do {
  padding:4rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  a {
    color:rgb(255, 0, 43);
    flex-grow: 1;
    display: grid;
    align-items: flex-end;
  }
  a:hover {
    color: rgb(183, 23, 49);
    text-decoration: underline;
  }
  /*Card container*/
  .cards  { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
    gap:2rem;
    /*Each single card*/
    .card {
      justify-self: center;
      background-color: var(--primary-color);
      border-radius:1rem;
      box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
      width: 23rem;
      display: flex;
      flex-direction: column;
      .image-container {
        width: 100%;
        height: 15rem;
        img {
          border-radius:1rem 1rem 0 0;
        }
      }
    }
  }
}
.about-us {
  padding:4rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  .title {
    font-size: 2rem;
  }
  article:last-of-type {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    .values {
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
     gap:2rem;
      p {
        background-color: var(--primary-color);
        box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
        width:15rem;
        padding: 1rem 2rem;
        
      }
    }
  }
}
/*Our parteners section*/
.our-parteners {
  background-color: white;
  margin: 4rem 0 0 0;
  padding: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
  .wall {
    position: relative;
    z-index: 1;
    width:7rem;
    height:25rem; 
    background-color: white;
  }
  .slide-our-parteners {
    background-color: black;
    border-radius: 1rem;
    flex-grow: 1;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    .image-container {
      width:20rem;
      img {
        border-radius: 1rem;
        background: none;
      }
    }
    .small-circles {
      width:30%;
    }
  }

}
/*feedback section*/
.feedback {
  background-color: rgb(1, 15, 37);
  color: white;
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  gap:3rem;
  h1 {
    span {
      color: rgb(92, 92, 255);
    }
  }
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    article {
      background-color: #42424e;
      padding:2rem 1rem;
      border-radius: 1rem;
      box-shadow: 1rem .7rem 1rem #32323b;
      display: flex;
      flex-direction: column;
      gap:2rem;
      width:70%;
      .a-person {
        width:10rem;
        height:10rem;
        img {
          border-radius: 50%;
        }
      }
      q {
        font-size: 1.3rem;
      }
      p {
        text-align: left;
        padding: 0;
        color:white;
      }
      a {
        color:rgb(255, 0, 43);
        flex-grow: 1;
        display: grid;
        align-items: flex-end;
      }
      a:hover {
        color: rgb(183, 23, 49);
        text-decoration: underline;
      }
    }
  }
}

footer {
  margin: 4rem 0 0 0;
  padding:4rem 0;
  background-color: rgb(1, 15, 37);
  color:white;
  display: flex;
  justify-content: space-evenly;
  .image-container {
    width:10rem;
    height:10rem;
  }
  ul {
    li {
      list-style: none;
      a {
        color:white;
        i {
          background-color: #0a0a2d;
        }
      }
      a:hover {
        color: rgb(92, 92, 255);
        text-decoration: underline;
      }
    }
  }
}









  @media screen and (max-width: 800px) {
  .hamburger{
    display: block;
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    padding: 20px 0;
    background: tomato;
    transition: 0.3s;
  }
   .nav-menu a{
    margin: 16px 0;
   }
   .nav-menu.active{
    left: 0; 
   }
  }








